<section id="creatingArea">
  <div class="flex-container">
    <h1>Add your kitten</h1>

    <form (ngSubmit)="form.valid && addKitten()" #form="ngForm">
      <div>
        <label for="name">Name</label><br />
        <input
          type="text"
          name="name"
          [(ngModel)]="name"
          #name="ngModel"
          required
        />
        <br />
        <span *ngIf="form.submitted && name.errors?.required"
          >Le nom du chat est requis.</span
        >
      </div>

      <div>
        <label for="race">Race</label><br />
        <input
          type="text"
          name="race"
          [(ngModel)]="race"
          #race="ngModel"
          required
        />
        <br />
        <span *ngIf="form.submitted && race.errors?.required"
          >La race du chat est requise.</span
        >
      </div>

      <div>
        <label for="birthday">Birthday</label><br />
        <input
          type="date"
          name="birthday"
          [(ngModel)]="birthday"
          #birthday="ngModel"
          required
        />
        <br />
        <span *ngIf="form.submitted && birthday.errors?.required"
          >La date de naissance du chat est requise.</span
        >
      </div>

      <div>
        <label for="pic">Picture</label><br />
        <input type="text" name="pic" [(ngModel)]="pic" #pic="ngModel" />
      </div>
      <br />

      <div *ngIf="form.invalid && form.submitted">
        <p>Le formulaire n'est pas correctement rempli.</p>
        <br />
      </div>

      <div class="buttons">
        <button type="submit">Soumettre</button>
        <button [routerLink]="['/']">Retour</button>
      </div>
    </form>
  </div>
</section>

<!-- TODO: les chatons sont ajoutés à la collection globale, quand ils sont créés-->
