<h1>Bienvenue sur Kitten Story !</h1>

<div class="flex-container">
  <div class="main-container">
    <p>Voici la liste de nos chatons :</p>

    <div class="kitten-container">
      <div *ngFor="let kitten of kittensList">
        <div class="kitten-card">
          <img
            src="{{ kitten.pic }}"
            alt="a kitten"
            (mouseover)="displayInfo = true"
            (mouseleave)="displayInfo = false"
          />
          <button>Add {{ kitten.name }} to your cat crew</button>
        </div>
        <span *ngIf="displayInfo"
          >Name : {{ kitten.name }}, Race : {{ kitten.race }}, Birthday :
          {{ kitten.birthday }}</span
        >
      </div>
    </div>

    <button type="submit" [routerLink]="['/create']">
      Add your own kitten
    </button>
  </div>

  <div>
    <app-create-kitten (sendNewKittenDataToKittensList)></app-create-kitten>
    <app-user-kitten></app-user-kitten>
  </div>
</div>
